# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
*.keystore

# Linux
**/linux/flutter/ephemeral

# Flatpak build artifacts
flatpak/build-*/
flatpak/repo/
flatpak/pulse-tools/
flatpak/spectrogram-linux-bundle.tar.gz
flatpak/com.isyourbrainfoss.Spectrogram-*.flatpak
flatpak/com.isyourbrainfoss.Spectrogram.png
flatpak-build/
.flatpak-builder/
spectrogram.flatpakrepo
repo/

# Exceptions
!**/doc/api/
!flatpak/spectrogram.flatpakrepo

